/* 
* @Author: ameng
* @Date:   2016-02-23 09:54:06
* @Last Modified by:   ameng
* @Last Modified time: 2016-02-26 15:13:40
*/
ul,li{margin:0;padding:0;}
a{
	color:#1b1b1b;
}
a:hover{
	text-decoration: none;
	color:red;
}
.banner{
	height:450px;
	background: url("images/banner.jpg") no-repeat center 0;
}
.banner-swf{
	margin:0 auto;
	width:1000px;
	height:450px;
}
.box{
	clear:both;
	margin-top:10px;
	width: 1000px;
	margin:0 auto;
}
.hd{
	float:left;
	width:586px;
	height:288px;
	margin-top:10px;
}
.xw{
	float:right;
	width:410px;
	height:288px;
	margin-top:10px;
}
.xw h3,.xw h4{
	font-size:16px;
	color:#1d70b7;
	text-align: center;
	margin:0;
}
.xw h3 a,.xw h4 a{
	color:#1d70b7;
}
.title{
	height:60px;
	background:url("images/title.jpg") no-repeat;
	padding-left:70px;
	padding-right:100px;
	overflow: hidden;
}
.title h2 a{
	color:#fff;
}
.title h2 .pull-left{
	font-size: 24px;
	font-weight: bold;
	margin-top:5px;
}
.title h2 .pull-right{
	font-size: 14px;
	margin-top:10px;
}
.ts-img{
	float:left;
	display: block;
	width:190px;
	height:170px;
	text-align: center;
	margin-top:10px;
	margin-right:12px;
}
.wsgk{
	float:left;
	width:643px;
	height:278px;
	padding:0 10px;
	margin-top:15px;
	border:1px solid #eeeeee;
}
.wsgk-top{
	border-bottom: 1px solid #a0a0a0;
	height:150px;
}
.wsgk-top img{
	padding-bottom: 10px;
}
.wsgk-top p{
	text-indent: 2em;
	width:300px;
}
.wsgk-bottom{
	padding-top:8px;
}
.wsgk-bottom ul{
	width:450px;
}
.wsgk-bottom ul li{
	width:150px;
	line-height: 30px;
	float:left;
}

.zdxm{
	float:right;
	margin-top:15px;
	width:347px;
}

.title-min{
	width:347px;
	height:31px;
	background:url("images/title-min.jpg") no-repeat;
}	
.title-min h4{
	margin:0;
}
.title-min a{
	line-height: 31px;
}
.title-min .pull-left{
	margin-left:40px;
	color:#1b1b1b;
	font-weight: bold;
}
.title-min .pull-right{
	margin-right:5px;
	color:#a1a1a1;
	font-size: 12px;
}
.box-min{
	height: 247px;
	border:1px solid #eeeeee;
	border-top:none;
}
.box-min ul{
	margin: 10px 0 10px 30px;
}
.box-min ul li{
	padding-bottom: 3px;
}
.box-min p{
	text-indent: 2em;
	padding:15px 10px 0px 10px;
}
.box-min .box-min-img{
	width:160px;
	height:100px;
	overflow:hidden;
	text-align: center;
	margin-top: 15px;
	margin-left: 8px;
	float:left;
}

.rw{
	width:998px;
	height:268px;
	float:left;
	margin-top: 15px;
	padding:10px;
	border:1px solid #eeeeee;
}
.rw-box{
	width:325px;
	height:120px;
	float:left;
}
.rw-box h5{
	font-weight: bold;
}
.rw-box img{
	float:left;
}
.rw-box ul{
	width: 140px;
    height: 82px;
    float: left;
    margin-left: 10px;
    overflow: hidden;
}
.rw-box li{
	list-style: none;
}

.ms,.tc{
	padding-left: 10px;
}
.mr,.ms{
	border-bottom:1px solid #aaaaaa;
}
.mr,.ms{
	height:128px;
}

/* 图片滚动 */
.picScroll{ position:relative;  height:185px; padding: 15px 0 0 18px;  background:#fff; margin-bottom:0; overflow:hidden; }
.picScroll ul{ overflow:hidden; zoom:1; }
.picScroll ul li{ float:left; margin: 0 6px;  width:180px; overflow:hidden; display:inline; }
.picScroll ul li img{ width:180px; height:145px; }
.picScroll ul li p{ width:180px; text-align:center; }
.picScroll .prev,
.picScroll .next{ position:absolute;  left:0px; top: 80px; display:block; width:18px; height:28px; overflow:hidden; background:url("http://img.tongren.gov.cn/templates/tongren/zakiou_index/icons.png") -40px 0 no-repeat; cursor:pointer;  }
.picScroll .next{ left:auto; right:0px; background-position:-120px 0; }
.picScroll .prevStop{ background-position:0 0; }
.picScroll .nextStop{ background-position:-80px 0; }
.footer{
	clear: both;
	margin-top:20px;
	padding-top:20px;
	border-top:6px solid #92c702;
}